<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
            text-align: center;
            background: #252525;

        }

        .page {
            color: #e63946;
        }

        .content {
            text-align: right;
            margin: auto;
            width: 500px;
            background: white;
            color: #000;
            border-radius: 3px;

        }
    </style>

</head>

<body>
    
        <div class="page">
            <h4>page 2</h4>

            <br>
            <div class="content">
                <p>
                    hi mahi
                    <br>
                    i love you
                    <br>
                    i love you
                    <br>
                    i love you
                    <br>
                    i love you
                    <br>
                    i love you
                    <br>
                    i love you
                    <br>
                    i love you
                    <br>
                    i love you
                    <br>
                    i love you color: #fff;
                    dsaaaaaaaaaaaaaaa
                    <br>
                    i love you
                    <br>
                    i love you
                    <br>
                    i love you
                    <br>
                    i love you
                    <br>
                    i love you
                </p>
            </div>

        </div>



    </div>
</body>

</html>